<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

	
		<!-- Header -->
			<header id="header">
				<a class="logo" href="">KSEB</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>


			<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/admin_home">Home</a></li>
					<li><a href="/view_consumer">View consumer</a></li>
					<li><a href="/admin_view_complaint">View Complaints</a></li>
					<li><a href="/adminviewnotification">View Notification</a></li>
					<li><a href="/adminviewtariff">View Tariff</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>


		<!-- Banner -->
			<!-- <section id="banner">
				<div class="inner">
					<h1>Industrious</h1>
					<p>A responsive business oriented template with a video background<br />
					designed by <a href="https://templated.co/">TEMPLATED</a> and released under the Creative Commons License.</p>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section> -->

		
		<br>
		<br>
		<br>