{% include 'admin/admin_header.html' %}
<form action=" " method="post">
    <center>
        <table width="50">
            <tr>
                <b><u><h1>Add Employee</h1></u></b>
            </tr>
            <tr>
                <td>username</td><td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td>password</td><td><input type="text" name="password"></td>
            </tr>

            
            <tr>
                <td>FNAME</td><td><input type="text" name ="f_name"></td>
             </tr>
            <tr>
                <td>LNAME</td><td><input type="text" name="l_name"></td>
            </tr>
            <tr>
                <td>HNAME</td><td><input type="text" name="h_name"></td>
            </tr>
           <tr>
                <td>PLACE</td><td><input type="text" name="place"></td>
            </tr>
            <tr>
                <td>EMAIL</td><td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>PHONE</td><td><input type="text" name="phone"></td>
            </tr>
            <tr>
                <td>qualification</td><td><input type="text" name="qualification"></td>
            </tr>
            <tr>
                <td></td><td><input type="submit" name="submit"></td>
            </tr>
        </table>
    </center>
</form>


{% include 'admin/admin_footer.html' %}