{% include 'admin/admin_header.html' %}

<h1 align="center">Add Tariff</h1>
<br>
<br>
<br>
<br>
<form method="post">
    <center>
<table style="width:1000px !important;">
	 <tr>
        <td>Connection Type</td>
        <td><input type="text" name="ctype" required=""></td>
    </tr>
    <tr>
    	<td>Minimum Usage</td>
    	<td><input type="text" name="minusage" required="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
    </tr>
    <tr>
        <td>Maximum Usage</td>
        <td><input type="text" name="maxusage" required="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
    </tr>
    <tr>
        <td>Amount Per Unit</td>
        <td><input type="text" name="amount" required="" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
    </tr>
    <tr>
    	<td align="center" colspan="2"><input type="submit" name="Add"></td>
    </tr>
</table>
</center>
</form>

{% include 'admin/admin_footer.html' %}