{% include 'admin/admin_header.html' %}

<h1 align="center">View Complants</h1>
<br>
<br>
<br>
<br>
<form method="post">
<center>
<table align="center" style="width:1000px !important;"  border="1">
        
    <tr>
        <td>Name</td>
        <td>Complaints</td>
        <td>Date</td>
        <td>Reply</td>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{row['NAME']}}</td>
        <td>{{row['complaints']}}</td>
        <td>{{row['date']}}</td>
        {% if row['status']=="NA" %}
            <td><input type="text" name="reply{{loop.index}}"><input type="submit" name="submit{{loop.index}}" value="submit"></td>

        {% else %}
             <td>{{ row['status'] }}</td>
        {% endif %}
        <td></td>
    </tr>
    {% endfor %}
</table>
</center>
</form>


{% include 'admin/admin_footer.html' %}