<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <ul>
        <li>
            <a>Manage employee</a>
            <ul>
                <li><a href="/add_employee">Add employee</a></li>
                <li><a href="/view_employee">View employes</a> </li>
            </ul>
        </li>
        <li><a href="/view_prediction">View prediction</a></li>
        <li><a href="/view_payments">View payments</a></li>
        <li><a href="/view_consumers">View consumers</a></li>
        <li><a href="/view_complaints">View complaints</a></li>
    </ul>
</div>



