{% include 'admin/admin_header.html' %}
<form method="post">
    <center>
        <table style="width:1000px !important;">
            <b><u><h1>Add consumer details</h1></u></b>
            <tr>
                <td>username</td><td><input type="text" name="username" required=""></td>
            </tr>
            <tr>
                <td>password</td><td><input type="text" name="password" required=""></td>
            </tr>

           
            <tr> 
                <td>FNAME</td><td><input type="text" name ="f_name" required=""></td>
             </tr>
            <tr>
                <td>LNAME</td><td><input type="text" name="l_name" required=""></td>
            </tr>
            <tr>
                <td>HNAME</td><td><input type="text" name="h_name" required=""></td>
            </tr>
           <tr>
                <td>PLACE</td><td><input type="text" name="place" required="" oninput="this.value = this.value.replace(/[^A-Za-z.]/g, '')"></td>
            </tr>
            <tr>
                <td>PINCODE</td><td><input type="text" name="pincode" required="" minlength="6" maxlength="6" pattern="\d{6}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
            </tr>
            <tr>
                <td>PHONE</td><td><input type="text" name="phone" required="" minlength="10" maxlength="10" pattern="\d{10}" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"></td>
            </tr>
            <tr>
                <td>email</td><td><input type="text" name="email" required=""></td>
            </tr>
            <tr>
                <td>Consumer Type</td>
                <td><select name="type" required>
                    <option Selected>Select</option>
                    <option>Home</option>
                    <option>Industrial</option>
                </select>
                </td>
            </tr>
            <tr>
                <td></td><td><input type="submit" name="submit"></td>
            </tr>
        </table>
    </center>
</form>

{% include 'admin/admin_footer.html' %}