{% include 'admin/admin_header.html' %}

<h1 align="center">View Consumer</h1>
<br>
<br>
<center>
<a align="center" href="/employee_add_consumer">Add Consumer</a>

<br>
<br>
<table align="center" style="width:1200px !important;" border="1">
        
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>house name</td>
        <td>place</td>
        <td>pincode</td>
        <td>phone</td>
        <td>email</td>
        <td>Type</td>
        <td>delete</td>
        <td>update</td>
    </tr>
    {% for row in data %}
    <tr>

        <td>{{row['f_name']}}</td>
        <td>{{row['l_name']}}</td>
        <td>{{row['h_name']}}</td>
        <td>{{row['place']}}</td>
        <td>{{row['pincode']}}</td>
        <td>{{row['phone']}}</td>
        <td>{{row['email']}}</td>
        <td>{{row['connectiontype']}}</td>
        <td><a href="?id={{row['cons_id']}}&delete=1">delete</a></td>
        <td><a href="/update_consumer?id={{row['cons_id']}}&update=1">update</a></td>
    </tr>
    {% endfor %}
</table>

</center>

{% include 'admin/admin_footer.html' %}