<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riss.lakshmi.ksebapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/metericon"
        android:label="E-Meter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PaymentWallet"></activity>
        <activity android:name=".ViewTariff" />
        <activity android:name=".Complaints" />
        <activity android:name=".ManageWallet" />
        <activity android:name=".view_reading" />
        <activity android:name=".viewpridictions" />
        <activity android:name=".IpSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".History" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Connections" />
        <activity android:name=".Payment" />
        <activity android:name=".Notification" />
    </application>

</manifest>